# Environment & secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

.ruff_cache/
ignore*
exports/
